.profile__profession {
    margin: 16px 0 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4;
    color: #FFFFFF;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 680px) {
    .profile__profession  {
        text-align: center;
    }
  }

@media screen and (max-width: 426px) {
    .profile__profession  {
        font-size: 14px;
    }
  } 
