.auth__button-login {
    box-sizing: border-box;
    margin: 0;
    color: #ffffff;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.05;
    text-align: center;
    text-decoration: none;
  }
  
  @media (hover: hover) {
    .auth__button-login:hover {
      opacity: 0.8;
      transition: opacity 0.2s ease-in;
    }
  }