.profile {
    margin: 40px 0 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 880px) {
    .profile  {
        flex-direction: column; 
    }
  } 

  @media screen and (max-width: 426px) {
    .profile  {
        margin-top: 42px;
    }
  }