.popup__button-submit_disabled {
    background-color: #FFFFFF;
    color: #000000;
    border: 1px solid #000000;
    opacity: 0.2;
    cursor: not-allowed;
}

@media (hover: hover) {
    .popup__button-submit:hover {
        opacity: 0.2;
    }
    }