.header__email {
    box-sizing: border-box;
    margin: 0 24px 0 0;
    color: #ffffff;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.4;
    text-align: center;
    align-self: center;
  }