.popup__container {
    min-width: 430px;
    margin: 0;
    padding: 0 36px 0;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 10px;
}

@media screen and (max-width: 769px) {
    .popup__container {
        min-width: 282px;
        margin: 0 19px 0;
        padding: 0 22px 0;
  } 
}