.header__button-login {
    box-sizing: border-box;
    margin: 51px 0 0 0;
    color: #ffffff;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4;
    text-align: center;
    text-decoration: none;
  }
  
  @media (hover: hover) {
    .header__button-login:hover {
      opacity: 0.8;
      transition: opacity 0.2s ease-in;
    }
  }
  
  @media screen and (max-width: 426px) {
    .header__button-login {
      font-size: 14px;
    }
  }
  