.header {
    max-width: calc(100% - 200px*2);
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 1100px) {
    .header  {
        max-width: calc(100% - 100px*2);
    }
  } 

@media screen and (max-width: 780px) {
    .header  {
        max-width: calc(100% - 50px*2);
    }
  } 

  @media screen and (max-width: 426px) {
    .header  {
        max-width: 100%;
    }
  } 